.l_form{
    background-color: #fff;
    .l_form_div{
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        margin-bottom: 1rem;
        text-align: left;
        align-items: center;
        justify-content: space-between;
        .logo_img{
            width: 100%;
            text-align: center;
            margin-bottom:15px;
            img{
                width: 120px;
                margin: auto;
            }
        }
        .l_form_heder_butn{
            width: 100%;
            text-align: left;
            margin-bottom: 25px;
            &>button{
                width: auto;
                background-color: #fff;
                color: inherit;
                margin: 0;
                margin-right: 15px;
                font-size: 1rem;
                color: #cdcdcd;
                &.l_form_heder_butn_Actv{
                    color: #707070;
                }
            }
        }
        &>div{
            position: relative;
            width: 48%;
            // margin: 5px;
            input:focus ~ .floating_label,
            input:not(:focus):valid ~ .floating_label{
                top: -11px;
                bottom: 10px;
                left: 20px;
                font-size: 11px;
                opacity: 1;
                color: #999999;
                background-color: #fff;
                height: max-content;
                padding: 1px 5px;
                border-radius: 3px;
            }
            .floating_label_no{
                top: -11px;
                bottom: 10px;
                left: 20px;
                font-size: 11px;
                opacity: 1;
                color: #999999;
                background-color: #fff;
                height: max-content;
                padding: 1px 5px;
                border-radius: 3px;
            }
            input, select{
                margin-bottom: 15px;
                padding: 7px 15px;
                border-radius: 5px;
                width: 100%;
                border: 1px solid #e7e7e7;
                box-shadow: none !important;
                // padding-left: 35px;
                color: inherit;
                // border-color: #999999;
                // border-width:  medium medium medium 1px;
                &.invalid{
                    border: 1px solid red;
                }
            }
            input:focus, select:focus{
                // border: 1.5px solid #5fc3ec;
                outline: none;
            }
            label{
                font-size: 0.875rem;
                font-weight: 600;
                position: absolute;
                // pointer-events: none;
                left: 10px;
                top: 10px;
                transition: 0.2s ease all;
                color: #999999;
            }
            .in_label{
                position: relative;
                top: -2px;
            }
            .floating_label_no_radio{
                top: -25px;
            }
            input[type=radio]{
                width: auto;
                margin: 0 10px;
            }
            span.inpt_icon{
                position: absolute;
                left: 10px;
                top: 2px;
                color: #999999;
                font-size: 20px;
            }
        }
        .code_snt{
            margin-bottom: 15px;
        }
    }
    button{
        background-color: #5fc3ec;
        color: #fff;
        margin-top: 25px;
        width: auto;
        border-radius: 5px;
        border: none;
        padding: 8px 0;
        cursor: pointer;
        font-weight: bold;
        padding: 5px 25px;
    }
}
