.navbar {
  // height: 50px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  color: #555;
  margin-bottom: 10px;
  padding: 0px;
  .wrapper {
    width: 100%;
    // padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .search {
      display: flex;
      align-items: center;
      // border: 0.5px solid #ddd;
      // padding: 3px;
      // border-radius: 20px;
      input {
        border: none;
        outline: none;
        background: transparent;

        &::placeholder {
          font-size: 12px;
        }
      }
    }

    .items {
      display: flex;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;

        .icon {
          font-size: 20px;
        }
        .usr_name{
          cursor: pointer;
          font-weight: bold;
        }
        .avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          cursor: pointer;
          margin-left: 15px;
        }

        .counter {
          width: 15px;
          height: 15px;
          background-color: red;
          border-radius: 50%;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          font-weight: bold;
          position: absolute;
          top: -5px;
          right: -5px;
        }
        .drop_down{
          position: absolute;
          right: -10%;
          top: 158%;
          width: 200px;
          border: 1px solid #cbd0dd;
          background-color: #fff;
          border-radius: 5px;
          z-index: 100;
          //   -webkit-box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
          // box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
          .icon{
            font-size: 20px;
            margin: 0px 5px;
          }
          a{
            color: inherit;
          }
        }
        .drop_down::after{
          content: "";
          position: absolute;
          z-index: -1;
          width: 1.5rem;
          height: 1.5rem;
          background: var(--phoenix-black);
          top: -12px;
          left: 1.5rem;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          background: var(--phoenix-white);
          background: inherit;
          border-top-left-radius: 0.25rem;
          border-width: 1px 0 0 1px;
          border-style: solid;
          border-color: #cbd0dd;
          // -webkit-box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
          // box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
          right: 3rem;
          left: auto;
          z-index: 100;
        }
      }
    }
  }
}
